@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;} ol,ul{list-style:none;} caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';} abbr,acronym {border:0;}
textarea{margin:0;padding:2px;}
a:link { color: #0000cc; }
body { background: #fff; margin: 3px 8px;}
body, select, input { font-family: verdana,arial,sans-serif;}
/*
body { font-size: 87.5%;}
*/
body { font-size: 1.4rem;}
h1 { font-size: 1.8em; font-weight: bold;}
h2 { font-size: 1.6em; font-weight: bold;}
h3 { font-size: 1.4em; font-weight: bold;}
h4 { font-size: 1.2em; font-weight: bold;}
h5 { font-size: 1em; font-weight: bold;}
td td, th th, th td, td th { font-size: 100%;}
strong { font-weight:bold; }
em { font-style: italic; }
pre { font-size: 110%;}
form { padding:0; margin:0;}
input { padding-left:1px; padding-right:1px; }
/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(../images/overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(../images/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}
.recent-actions {
    margin: 1em;
    font-size: 0.9em;
}

.rated-user {
    /*font-family: arial;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none !important;
    font-weight: bold;
    display: inline-block;
}

.user-black {
    color: black !important;
    font-weight: normal !important;
}

.user-legendary {
    color: red !important;
}

.user-legendary::first-letter {
    color: black !important;
}

.user-4000 {
    color: black !important;
}

.user-4000::first-letter {
    color: red !important;
}

.legendary-user-first-letter {
    color: black !important;
}

.user-4000-first-letter {
    color: red !important;
}

.user-red {
    color: red !important;
}

.user-fire {
    color: red !important;
}

.user-yellow {
    color: #bb0 !important;
}

.user-violet {
    color: #a0a !important;
}

.user-orange {
    color: #FF8C00 !important;
}

.user-blue {
    color: blue !important;
}

.user-cyan {
    color: #03A89E !important;
}

.user-green {
    color: green !important;
}

.user-gray {
    color: gray !important;
}

.user-admin {
    color: black !important;
}
.datatable td {
    width: auto !important;
    max-width: 20em !important;
    overflow: auto;
}

.datatable {
    width: 100%;
    position: relative;
}

.datatable table {
    width: 100%;
}

.datatable td, .datatable th {
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 0.4em;
    font-size: 1.3rem;
    /*font-size: 0.9em;*/
    text-align: center;
    overflow: hidden;
}

.datatable th {
    font-weight: bold;
}

.datatable .left {
    border-left: none;
}

.datatable .top {
    border-top: none;
}

.datatable .bottom {
    border-bottom: none;
}

.datatable .right {
    border-right: none;
}

.datatable .dark {
    background-color: #f8f8f8;
}

.datatable .lt {
    background: url(../images/datatable/datatable-corner-lt.png) no-repeat top left;
    width: 6px;
    height: 6px;
    left: 0;
    top: 0;
    position: absolute;
}

.datatable .rt {
    background: url(../images/datatable/datatable-corner-rt.png) no-repeat top right;
    width: 6px;
    height: 6px;
    right: 0;
    top: 0;
    position: absolute;
}

.datatable .lb {
    background: url(../images/datatable/datatable-corner-lb.png) no-repeat bottom left;
    width: 4px;
    height: 4px;
    left: 0;
    bottom: 0;
    position: absolute;
}

.datatable .rb {
    background: url(../images/datatable/datatable-corner-rb.png) no-repeat bottom right;
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.datatable .ilt {
    background: url(../images/datatable/datatable-inner-corner-lt.png) no-repeat top left;
    width: 6px;
    height: 6px;
    left: 0;
    top: 0;
    position: absolute;
}

.datatable .irt {
    background: url(../images/datatable/datatable-inner-corner-rt.png) no-repeat top right;
    width: 6px;
    height: 6px;
    right: 0;
    top: 0;
    position: absolute;
}

.datatable .filter input {
    background: white url(../images/icons/magnifier-medium.png) 2px 2px no-repeat;
    padding-left: 20px;
}

.datatable-scratch {
    display: inline-block !important;
    width: auto !important;
}

.datatable-filter {
    display: inline-block !important;
    width: auto !important;
    border: 1px solid var(--border-color);
    padding: 0 0.5em;
    position: relative;
    top: 0.1rem;
    color: var(--muted-color);
}#facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
  }
  
  
  #facebox .popup{
    position:relative;
    border:3px solid rgba(0,0,0,0);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);
  }
  
  #facebox .content {
    display:table;
    width: 370px;
    padding: 10px;
    background: #fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    box-sizing: border-box;
  }
  
  #facebox .content > p:first-child{
    margin-top:0;
  }
  #facebox .content > p:last-child{
    margin-bottom:0;
  }
  
  #facebox .close{
    position:absolute;
    top:5px;
    right:5px;
    padding:2px;
    background:#fff;
  }
  #facebox .close img{
    opacity:0.3;
  }
  #facebox .close:hover img{
    opacity:1.0;
  }
  
  #facebox .loading {
    text-align: center;
  }
  
  #facebox .image {
    text-align: center;
  }
  
  #facebox img {
    border: 0;
    margin: 0;
  }
  
  #facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
  }
  
  .facebox_hide {
    z-index:-100;
  }
  
  .facebox_overlayBG {
    background-color: #000;
    z-index: 99;
  }/**
 * @license
 * Copyright (C) 2015 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Pretty printing styles. Used with prettify.js. */


/* SPAN elements with the classes below are added by prettyprint. */
.prettyprint .pln { color: #000 }  /* plain text */

@media screen {
  .prettyprint .str { color: #080; font-weight: bold }  /* string content */
  .prettyprint .kwd { color: #008; font-weight: bold }  /* a keyword */
  .prettyprint .com { color: #800; font-weight: bold }  /* a comment */
  .prettyprint .typ { color: #606; font-weight: bold }  /* a type name */
  .prettyprint .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .prettyprint .pun, .prettyprint .opn, .prettyprint .clo { color: #660 }
  .prettyprint .tag { color: #008; font-weight: bold }  /* a markup tag name */
  .prettyprint .atn { color: #606 }  /* a markup attribute name */
  .prettyprint .atv { color: #080; font-weight: bold }  /* a markup attribute value */
  .prettyprint .dec, .prettyprint .var { color: #606 }  /* a declaration; a variable name */
  .prettyprint .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .prettyprint .str { color: #060 }
  .prettyprint .kwd { color: #006; font-weight: bold }
  .prettyprint .com { color: #600; font-style: italic }
  .prettyprint .typ { color: #404; font-weight: bold }
  .prettyprint .lit { color: #044 }
  .prettyprint .pun, .prettyprint .opn, .prettyprint .clo { color: #440 }
  .prettyprint .tag { color: #006; font-weight: bold }
  .prettyprint .atn { color: #404 }
  .prettyprint .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
/*li.L1,*/
/*li.L3,*/
/*li.L5,*/
/*li.L7,*/
/*li.L9 { background: #eee }*/

/* lstlisting */

@media screen, print, projection {
  .lstlisting .str { color: #090; font-weight: bold }  /* string content */
  .lstlisting .kwd { color: #009; font-weight: bold }  /* a keyword */
  .lstlisting .com { color: #900; font-weight: bold }  /* a comment */
  .lstlisting .typ { color: #707; font-weight: bold }  /* a type name */
  .lstlisting .lit { color: #077 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .lstlisting .pun, .lstlisting .opn, .lstlisting .clo { color: #770 }
  .lstlisting .tag { color: #009; font-weight: bold }  /* a markup tag name */
  .lstlisting .atn { color: #707 }  /* a markup attribute name */
  .lstlisting .atv { color: #070; font-weight: bold }  /* a markup attribute value */
  .lstlisting .dec, .lstlisting .var { color: #707 }  /* a declaration; a variable name */
  .lstlisting .fun { color: red }  /* a function name */
}
.roundbox {
    border: 1px solid rgb(185, 185, 185);
    position: relative;
}

.roundbox .caption {
    color:#3B5998;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.2em 0;
    position: relative;
}

.roundbox .titled {
    padding: 0 0 0.3em 0.5em;
    border-bottom:1px solid rgb(185, 185, 185);
}

.roundbox .caption .top-links {
    font-size: 1.1rem;
    font-family: arial;
    position: absolute;
    right: 0.5em;
    top: 0.3em;
}

.roundbox .bottom-links {
    font-family: arial;
    font-size: 1.1rem;
    border-top:1px solid rgb(185, 185, 185);
    background-color: #F5F5F5;
    padding: 0.45em;
}

.roundbox .dark {
    background-color: #F5F5F5;
}   

.roundbox .bottom-links a {
    margin: 0.1em;
}

.roundbox table.rtable {
    width: 100%;
    margin-top: -4px;
    border: none;
}

.roundbox .rtable td, .roundbox .rtable th {
    border: 1px solid rgb(185, 185, 185);
    border-right: none;
    border-top: none;
    padding: 4px;
    text-align: center;
    font-size: 0.9em;
}

.roundbox .rtable th {
    /*font-weight: bolder;*/
    font-size: 1em;
    padding-top: 7px;
}

.roundbox .rtable .left {
    border-left: none;
}

.roundbox .rtable .bottom {
    border-bottom: none;
}

.roundbox .rtable .corner {
    width: 10px;
    height: 10px;
}

.roundbox .roundbox-lt {
    background: url('../images/roundbox/roundbox-lt.png') no-repeat top left;
    position: absolute;
    top: -1px;
    left: -1px;
}

.roundbox .roundbox-rt {
    background: url('../images/roundbox/roundbox-rt.png') no-repeat top right;
    position: absolute;
    top: -1px;
    right: -1px;
}

.roundbox .roundbox-lb {
    background: url('../images/roundbox/roundbox-lb.png') no-repeat bottom left;
    position: absolute;
    bottom: -1px;
    left: -1px;
}

.roundbox .roundbox-rb {
    background: url('../images/roundbox/roundbox-rb.png') no-repeat bottom right;
    position: absolute;
    bottom: -1px;
    right: -1px;
}

.rtable th {
    font-weight: bold;
}/* blue: #445f9d */
/* red: #bb2024 */
/* green: #d4edc9 */

/* NYH */
/*body {*/
/*    background: url(../images/snowflakes-background4.png);*/
/*}*/

:root {
    --border-radius: 6px;
    --notice-color: #888;
    --border-color: rgb(185, 185, 185);
    --muted-color: #666;
    --highlighted-blue-color: #def;
    --highlighted-green-color: #E8F5E9;
}

html {
    font-size: 10px;
}

.monospaced {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.roundbox {
    background-color: white;
}

html .borderTopRound {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

html .borderBottomRound {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

body.iframed {
    overflow: hidden;
}

#body {
    padding-top: 0.75em;
    max-width: 1200px;
    min-width: 920px;
    margin: 0 auto;
}

.fullscreen #body {
    padding-top: 0.75em;
    max-width: initial;
    min-width: initial;
    margin: 0;
}

.comment-vote-direction-1 {
    background-color: indianred;
}

.comment-vote-direction--1 {
    background-color: dodgerblue;
}

.comment-table {
    border: 1px dashed white;
}

.comment-no-indent {
    display: none;
}

.comment-indent {
    float: left;
    width: 4em;
    text-align: left;
    padding-top: 1.75em;
    display: block !important;
}

.comment-indent span {
    color: #ace;
    font-size: 1.2rem;
    font-weight: bold;
}

.highlight {
    border: 1px solid #FFC300;
    background-color: #FFF7DB !important;
}

.highlight-blue {
    border: 1px solid #7f9ddc;
    background-color: #def !important;
}

.button {
    padding: 0 1em !important;
    height: 1.65em !important;
}

a.not-decorated {
    text-decoration: none !important;
    color: black;
}

#header {
    /*Fix for the issue with long names in the header*/
    min-height: 5em;
    /*height: 5em;*/
    margin: 0 1em;
}

.login-panel {
    float: right;
}

.lang-chooser {
    float: right;
    text-align: right;
}

.logo-href {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.0rem;
    color: black !important;
}

#sidebar {
    float: right;
    width: 20em;
    display: inline;
    margin: 1em 1em 1em -22em;
}

.sidebox {
    margin-bottom: 1.5em;
}

.sidebar-caption-icon {
    float: right;
    font-size: 1.6rem;
    color: var(--notice-color);
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

#pageContent {
    margin: 1em;
    padding-top: 1em;
    min-height: 20em;
}

.content-with-sidebar {
    margin-right: 22em !important;
}

.post {
    background: #c4a000;
    padding: 1em;
    margin: 1em 0 1em 0;
}

#footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 1em;
    clear: both;
    height: 4em;
}

.search {
    border: 1px solid #d4d4d4;
    color: #666;
    font-size: 1.0rem;
    height: 16px;
    width: 9em;
    line-height: 16px;
    float: right;
    padding: 1px 1px 1px 20px;
    margin: 4px 1em 0 0;
    background: #f4f4f4 url(../images/search-16x16.png) 2px 2px no-repeat;
}

.search-large {
    border: 1px solid #d4d4d4;
    color: #666;
    font-size: 1.6rem;
    height: 24px;
    width: 100%;
    box-sizing: border-box;
    line-height: 24px;
    padding: 1px 1px 1px 30px;
    background: #f4f4f4 url(../images/search-24x24.png) 2px 2px no-repeat;
}

.search-help {
    font-size: 1.3rem !important;
    margin-top: 8px;
}

.search-help code {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    border: 1px solid #d4d4d4;
    background: #f4f4f4;
    padding: 1px;
}

.menu-box {
    margin: 0 1em;
    padding-top: 0.5em;
    height: 2.5em;
    line-height: 2.5em;
}

.menu-list-container {
    margin: 0;
}

.menu-list {
    margin-left: 1.25em;
}

.menu-list li {
    /*font-family: 'Open Sans Condensed', sans-serif !important;*/
    /*font-family: 'PT Sans Narrow', sans-serif !important;*/
    font-family: 'Cuprum', sans-serif !important;
    float: left;
    list-style: none;
    margin-right: 1.2em;
    padding: 0 0 1px 0;
    position: relative;
    top: 5px;
}

.menu-list li a {
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    display: block;
    float: left;
    height: 20px;
    overflow: hidden;
    /*margin: auto 2px;*/
    margin: 0;
    line-height: 22px;
}

.menu-list li .icon {
    position: relative;
    top: 3px;
}

.menu-list li.current {
    border-bottom: 3px solid #3B5998;
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border: 1px solid #b9b9b9;*/
    /*background-color: #b9b9b9;*/
}

.menu-list li.item-highlighted * {
    color: red;
}

.menu-list li a:hover, .menu-list li a:active, .menu-list li a:visited {
    border: none;
}

.live {
    margin: 1em;
}

.live li {
    margin-bottom: 0.5em;
}

.live li.last {
    margin-bottom: 0;
}

.live li .blog {
    color: rgb(0, 0, 0);
}

.live li .comments {
    color: #f00;
}

.notice {
    color: var(--notice-color) !important;
}

.error {
    color: red;
}

.warning {
    color: #ff8c00;
}

.shiftUp {
    position: relative;
    top: -5px;
}

.caption-edit-link {
    float: right;
    font-size: 0.8em;
}

.filter-box {
    position: relative;
    height: 2em;
    margin: 0.25em 0;
}

.filter-box input {
    background: #f4f4f4 url(../images/filter-16x16.png) 2px 2px no-repeat;
    border: 1px solid #d4d4d4;
    height: 1.2em;
    line-height: 1em;
    position: absolute;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 1px 1px 1px 18px;
    right: 0;
}

.action-link img {
    vertical-align: middle;
}

.action-link-item {
    display: inline-block;
    margin-left: 16px;
}

.action-link ul, .action-link li {
    display: inline-block;
    margin-left: 16px;
}

.avatar {
    text-align: center;
    font-size: smaller;
}

/* Comments */

.comment {
    opacity: 1;
}

.comments {
    margin-top: 2em;
}

.comments .title {
    color: #3B5998 !important;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.comment-table {
    width: 100%;
    margin: 0.25em;
}

.comment-table td.left {
    /*vertical-align: top;*/
    text-align: center;
    width: 100px;
    padding: 0.5em;
}

.comment-table td.right {
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
}

.comment-table .reply {
    position: relative;
    top: -1em;
}

.comment-table .reply .arrow {
    text-decoration: none;
    font-size: 1.5rem;
}

.comment-table .reply a {
    color: #B9B9B9 !important;
}

.comment-table .reply:hover a {
    color: inherit;
}

.comment-table .info {
    font-size: 0.8em;
    color: #B9B9B9;
    margin-bottom: 0.5em;
    position: relative;
}

.comment-table .info .item {
    margin-right: 0.5em;
}

.comment-table .info .item a {
    color: #B9B9B9 !important;
}

.comment-children li {
    margin: 0.1em 0 0.25em 4em;
}

.comment-content {
    line-height: 2rem;
    font-size: 1.3rem;
}

.comment-content .moveup .ttypography {
    position: relative !important;
    bottom: 0.8em !important;
}

.comment-bad {
    opacity: 0.3 !important;
}

.comment-too-bad {
    opacity: 0.3 !important;
}

.comment-bad:hover {
    opacity: 1 !important;
}

.comment-too-bad:hover {
    opacity: 1 !important;
}

.comment-content div.ttypography,
.comment-table div.ttypography {
    line-height: 20px;
    font-size: 1.3rem;
    position: relative;
    bottom: 2px;
}

.centered-message {
    margin: 5em auto;
    text-align: center;
    font-size: 1.5em;
}

.welldone {
    color: green;
    font-weight: bold;
}

.countdown {
    color: #777;
}

.highlighted-row td, .highlighted-row th {
    background-color: #def !important;
}

.file {
    margin: 0.5em;
    font-size: 1.1rem;
}

.file .name {
    font-weight: bold;
}

.file .text {
    background-color: #ddd;
}

.infoline {
    margin: 0.5em;
}

/* from-renderer */

.from-renderer {
    display: inline !important;
}

.from-renderer ul, ul.list {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0.5em 0 0.5em 2em;
    padding-left: 2em;
}

.from-renderer ol, ol.list {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0.5em 0 0.5em 2em;
    padding-left: 2em;
}

.from-renderer li, .list li {
    padding: 0 0 0 1em;
    list-style-position: outside;
    margin: 0.5em 0;
}

.from-renderer p {
    margin: 1.2em 0;
}

#edit_area_toggle_checkbox_label {
    font-size: 1.2rem;
    margin-left: 1em;
}

.red-link {
    background-color: #c00;
    color: white !important;
    font-weight: bold;
    padding: 0.2em;
}

.contest-state-phase {
    color: #3B5998;
    font-size: 1.5rem;
    font-weight: bold;
}

.contest-state-regular {
    font-size: 1.4em;
    color: #777 !important;
}

img.standings-flag {
    position: relative;
    top: 3px;
    margin-right: 0.35em;
}

.confirm-proto {
    margin: 1em;
}

.confirm-proto .text {
    padding-bottom: 1em;
    white-space: pre-line;
}

.confirm-proto input {
    width: 6em;
    padding: 0.25em 0.5em;
    margin: 1em 1em 1em 1em;
}

.muted {
    color: var(--muted-color);
}

.small {
    font-size: 1.0rem !important;
}

.small * {
    font-size: 1.0rem !important;
}

.smaller {
    font-size: 1.1rem !important;
}

.smaller * {
    font-size: 1.1rem !important;
}

.friendStar {
    /*position: relative;*/
    /*left: 0.25em;*/
    /*top: 0.25em;*/
}

.caption {
    margin: 0 0 1em 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3B5998;
}

.test-for-popup {
    margin: 1.5em 0 0 0;
}

.test-for-popup .test-header {
    font-weight: bold;
    font-size: 1.1rem;
}

.test-for-popup pre {
    border: 1px solid #aaa;
    background-color: #eee;
    font-size: 1.1rem;
}

.pagination {
    margin: 0 auto;
}

.pagination .inactive {
    font-size: 2em;
    color: #ccc;
}

.pagination a {
    text-decoration: none !important;
    color: black;
}

.pagination ul li {
    display: inline;
}

.pagination .page-index {
    padding: 0.25em;
}

.pagination span.active {
    border: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.pagination .arrow {
    font-size: 2em;
    color: black;
}

#datepick-div {
    z-index: 100000 !important;
}

div.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

div.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

div.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

div.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 20px;
    color: #333333;
}

@media screen and (max-width: 1024px) {
    .menu-list-container .search {
        display: none;
    }

    .menu-list li a {
        font-size: 1.4rem;
    }
}

span.participant {
    font-family: Arial, Helvetica, sans-serif;
}

.problems .accepted-problem td.act {
    background-color: #d4edc9 !important;
}

.problems .accepted-problem td.id {
    border-left: 6px solid #d4edc9 !important;
}

.problems .rejected-problem td.act {
    background-color: #ffe3e3 !important;
}

.problems .rejected-problem td.id {
    border-left: 6px solid #ffe3e3 !important;
}

.problems .submitted-verdict-problem td.act {
    background-color: #def !important;
}

.problems .submitted-verdict-problem td.id {
    border-left: 6px solid #def !important;
}

.problems td.act .act-item {
    margin: 0 0.35em;
}

.clickable-title {
    cursor: pointer;
}

.spoiler .spoiler-title {
    font-weight: normal;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.spoiler:before {
    width: 16px;
    height: 16px;
    content: " ";
    float: left;
    display: block;
    background: url("../images/icons/control.png") no-repeat;
    /*https://habracdn.net/habr/images/1456937768/spoiler.icon.png*/
}

.spoiler.spoiler-open:before {
    background: url("../images/icons/control-270.png") left bottom no-repeat;
    /*https://habracdn.net/habr/images/1456937768/spoiler.icon.png*/
}

.spoiler-content {
    border: 1px solid gray;
    background-color: #def;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.blog-entry-section-name {
    color: black;
    font-family: arial, verdana, sans-serif, 'Lucida Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.ajax-loading-gif {
    display: none;
    position: absolute;
    right: -24px;
    bottom: 0;
}

.additional-field {
    display: none;
}

.diagnostics-icon {
    color: #E65100;
    font-size: 110%;
    position: relative;
    top: 1px;
}

.likeForm {
    margin: 4px;
}

.likeFormBlock {
    display: block;
}

.dislikeActionLink {
    margin-left: 8px;
}

.likeActionLink, .likeActionLink:active, .likeActionLink:link, .likeActionLink:visited,
.dislikeActionLink, .dislikeActionLink:active, .dislikeActionLink:link, .dislikeActionLink:visited,
.likeActionLink:hover, .dislikeActionLink:hover {
    color: gray !important;
    text-decoration: none !important;
    font-style: normal !important;
    background-color: transparent !important;
}

.likeState, .dislikeState {
    font-weight: 400 !important;
    font-style: normal !important;
    background-color: transparent !important;
}

.likeState:before, .dislikeState:before {
    font-size: 18px !important;
}

.liked {
    color: #3B5998 !important;
}

.disliked {
    color: #c00 !important;
}

.likeCount, .dislikeCount {
    margin-left: 2px;
}

.starredUserTalk {
    display: block;
    margin: 8px auto;
    cursor: pointer;
}

/* +status.css */
.verdict-accepted {
    color: #0a0;
    font-weight: bold;
}

.verdict-accepted-challenged {
    color: #0a0;
}

.verdict-failed {
    color: red;
}

.verdict-rejected {
    color: #00a;
}

.verdict-waiting {
    color: gray;
}

.verdict-successful-challenge {
    font-weight: bold;
    color: #0a0;
}

.verdict-unsuccessful-challenge {
    color: #00a;
}

.verdict-challenged {
    color: red;
    font-weight: bold;
}

.status-verdict {
    font-size: 1.1rem !important;
}

.status-problem {
    font-size: 1.1rem !important;
}

.status-small {
    font-size: 1.1rem !important;
}

/* -status.css */

.user-talk-scam-caution {
    background-image: url("../images/icons/status_unknown-32x32.png");
    background-position-x: 1rem;
    background-position-y: 2.5rem;
    background-repeat: no-repeat;
    color: red !important;
    font-size: 1.6rem;
    padding: 2rem 6rem;
    border: 2px solid red;
    margin-bottom: 2rem;
}

.Ñheaters-unprocessed-mark {
    font-size: 1rem;
    position: relative;
    bottom: 0.25rem;
}

.footer-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* or any desired height */
    text-align: center; /* this is optional */
}

.footer-logo-div {
    margin-top: 20px;
    position: relative;
    left: 40px;
}

.footer-logo-div a,
.footer-logo-div .sep {
    margin: 0 5px; /* space between the links */
}

.footer-logo-div img,
.footer-logo-div sep {
    display: block; /* removes default inline space */
    max-width: 100%; /* ensures images are responsive */
    height: auto; /* maintains aspect ratio */
}

.footer-logo-div .sep {
    width: 4px;
    border-left: 4px solid var(--border-color);
    height: 50px;
    margin-right: 22px;
}

.footer-logo-div-ru .sep {
    width: 4px;
    border-left: 4px solid var(--border-color);
    height: 50px;
    margin-right: 28px;
}

.itmo-logo {
    position: relative;
    bottom: 5px;
}

.thinnbsp {
    font-size: 0.25rem !important;
}

.unrated-allowed {
    color: var(--muted-color);
}

.info-bar-button {
    font-size: 1.2rem;
    position: relative;
    bottom: 1px;
}

img.resource {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
}

img.resource:hover {
    border: 1px solid #666;
}
.topic {
    /*margin: 1em 0 1em 0.5em;*/
    margin: 0 0 2em 0;
}

.topic .title * {
    font-size: 2.4rem !important;
    color: #3B5998 !important;
}

.topic-userpic {
    text-align: center;
    display: inline;
    float: right;
    border: 1px solid rgb( 185, 185, 185 );
    padding: 0.5em;
}

.topic .title a, .topic .title a:hover, .topic .title a:visited {
    color: #3B5998 !important;
    text-decoration: none;
}

.topic .content {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #B9B9B9;
    /*line-height: 1.85em;*/
    /*font-size: 0.85em;*/
    line-height: 20px;
    font-size: 1.2rem;
}

.topic .content .ttypography {
    overflow: hidden;
}

.topic .content .topic-options,
.topic .content .collapsible-topic-options {
    margin-top: 1em;
}

.topic .right-meta {
    float: right;
}

.topic .left-meta {
    float: left;
}

.topic .meta {
    margin-top: 1em;
    height: 2.5em;
}

.topic .meta ul {
    margin: 0.75em;
    font-size: 0.9em;
}

.topic .meta .right-meta ul li {
    float: left;
    margin: 0 1rem;
}

.topic .meta .left-meta ul li {
    float: left;
    margin: 0 2px;
}

.topic .meta .left-meta ul li img {
    opacity: 0.5;
}

.topic-edit .title {
    font-size: 1.8em;
    color: #3B5998;
}

.topic-edit .locale {
    margin: 0.5em 0;
    font-size: 1.2em;
    position: relative;
}

.topic-edit .switch-lang {
    font-size: 1.2em;
    position: relative;
}

.topic-edit .topic-edit-form {
    margin: 0 auto;
}

.collapsible-topic.collapsed .content .ttypography {
    max-height: 25em !important;
}

.collapsible-topic .content .ttypography {
    transition: max-height cubic-bezier(.5, 1, .6, 1) 250ms;
}

.collapsible-topic .content .collapsible-topic-options {
    position: relative;
}

.collapsible-topic.collapsed .content .collapsible-topic-options:before {
    content: "";
    width: 100%;
    height: 36px;
    position: absolute;
    left: 0;
    bottom: calc(100% + 1em);
    z-index: 20;
    background-image: linear-gradient(#fff0, #ffff);
    pointer-events: none;
}
div.ttypography textarea,
div.ttypography pre,
div.ttypography code,
div.ttypography kbd,
div.ttypography samp,
div.ttypography var,
div.ttypography tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

div.ttypography {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    base: 14px;
    line-height: 21px;
    color: #222;
    -webkit-text-size-adjust: 100%;
    font-size: 1.4rem;
    word-wrap: break-word;
    margin: 1.5em 0 0 0 !important;
    /*background-color: #ffffff;*/
}

div.ttypography .tt {
    margin: 0 4px;
    padding: 2px 4px;
    /*white-space: nowrap;*/
    border: 1px solid #CCC;
    background-color: #F8F8F8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-image: initial;
}

div.ttypography h1,
div.ttypography h2,
div.ttypography h3,
div.ttypography h4,
div.ttypography h5,
div.ttypography h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #161e21;
    margin: 0;
}

div.ttypography h1 {
    font-size: 250%;
    line-height: 0.8571em;
        margin: 0.4286em 0 0;
}

div.ttypography h2 {
    font-size: 200%;
    line-height: 1.2em;
    margin: 0.6em 0 0 0;
}

div.ttypography h3 {
    font-size: 175%;
    line-height: 0.8571em;
    margin: 0.8571em 0 0 0;
}

div.ttypography h4 {
    font-size: 150%;
    line-height: 1.25em;
    margin: 1.25em 0 0 0;
}

div.ttypography h5 {
    font-size: 135%;
    line-height: 1.2857em;
    margin: 1.2857em 0 0 0;
}

div.ttypography h6 {
    font-weight: bold;
    font-size: 100%;
    line-height: 1.5em;
    margin: 1.5em 0 0 0;
}

/* --- Lists | Listen  -------------------------------------------------------------------------------- */

div.ttypography ul,
div.ttypography ol,
div.ttypography dl {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0.5em 0 0 1em;
}

div.ttypography ul {
    list-style-type: disc;
}

div.ttypography ol {
    list-style-type: decimal;
}

div.ttypography ul ul {
    list-style-type: circle;
    margin-top: 0;
}

div.ttypography ol ol {
    list-style-type: lower-latin;
    margin-top: 0;
}

div.ttypography ol ul {
    list-style-type: circle;
    margin-top: 0;
}

div.ttypography li {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 0.8em;
}

div.ttypography dt {
    font-weight: bold;
}

div.ttypography dd {
    margin: 0 0 1.5em 0.8em;
}

div.ttypography p:not(:first-child) {
    margin: 1.5em 0 0 0;
}

div.ttypography p {
    font-size: 1em;
    line-height: 1.4em;
}

div.ttypography blockquote,
div.ttypography cite,
div.ttypography q {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

div.ttypography blockquote {
    margin: 1.5em 0 0 1.5em;
    color: #666;
}

div.ttypography strong,
div.ttypography b {
    font-weight: bold;
}

div.ttypography em,
div.ttypography i {
    font-style: italic;
}

div.ttypography big {
    font-size: 116.667%;
}

div.ttypography small {
    font-size: 85.71%;
}

div.ttypography pre,
div.ttypography code,
div.ttypography kbd,
div.ttypography tt,
div.ttypography samp,
div.ttypography var {
    font-size: 100%;
}

div.ttypography pre {
    line-height: 1.5em;
    margin: 1.5em 0 0 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

div.ttypography pre, div.ttypography code {
    color: #800;
}

div.ttypography pre.lstlisting {
    background-color: #eff0f1;
    margin: 0.75em 0;
}

div.ttypography kbd,
div.ttypography samp,
div.ttypography var,
div.ttypography tt {
    color: #666;
    font-weight: bold;
}

div.ttypography var,
div.ttypography dfn {
    font-style: italic;
}

div.ttypography acronym,
div.ttypography abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
}

div.ttypography sub,
div.ttypography sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

div.ttypography sup {
    top: -0.5em;
}

div.ttypography sub {
    bottom: -0.25em;
}

div.ttypography mark {
    background: #ff0;
    color: #000;
}

div.ttypography hr {
    color: #fff;
    background: transparent;
    margin: 0 0 0.75em 0;
    padding: 0 0 0.75em 0;
    border: 0;
    border-bottom: 1px #eee solid;
}

div.ttypography a {
    color: #4D87C7;
    background: transparent;
    text-decoration: none;
}

div.ttypography a:active {
    outline: none;
}

div.ttypography a:hover,
div.ttypography a:focus {
    background-color: #800;
    color: #fff;
    text-decoration: none;
}

/* --- images ------------------ */

div.ttypography img,
div.ttypography figure {
    margin: 0;
}

div.ttypography .flexible {
    margin-top: 1.5em;
    max-width: 100%;
}

div.ttypography .bordered {
    margin-top: 1.5em;
    border: 2px #eee solid;
    border: 2px rgba(255, 255, 255, 1) solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}

div.ttypography table {
    border-collapse: collapse;
    margin: 1.3571em 0 0 0;
    color: #222;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

div.ttypography table.narrow {
    margin: 1.4286em 0 0 0;
}

div.ttypography table.narrow th,
div.ttypography table.narrow td {
    padding: 0 0.5em;
    line-height: 1.4286em;
}

div.ttypography table.bordertable {
    border: 1px #ccc solid;
}

div.ttypography table caption {
    font-variant: small-caps;
}

div.ttypography th,
div.ttypography td {
    line-height: 1.5em;
    vertical-align: top;
    padding: 0.7143em 0.5em;
}

div.ttypography th *:first-child,
td *:first-child {
    margin-top: 0;
}

div.ttypography th.nowrap,
div.ttypography td.nowrap {
    white-space: nowrap;
}

div.ttypography thead th {
    text-align: left;
    color: #000;
    border-bottom: 2px #000 solid;
    font-weight: bold;
}

div.ttypography .bordertable thead th {
    background: #e0e0e0;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    font-weight: bold;
}

div.ttypography .bordertable tbody th[scope="row"] {
    background: #f0f0f0;
}

div.ttypography tbody th {
    text-align: left;
    border-top: 1px solid #ccc;
    text-align: left;
    font-weight: bold;
}

div.ttypography .bordertable tbody th {
    border-right: 1px solid #ccc;
    font-weight: bold;
}

div.ttypography tbody td {
    text-align: left;
    border-top: 1px solid #ccc;
}

div.ttypography .bordertable tbody td {
    border-right: 1px solid #ccc;
}

/* highlight row on mouse over */
div.ttypography tbody tr:hover th,
div.ttypography tbody tr:hover td {
    background: #f8f8f8;
}

div.ttypography pre code {
    font-size: 95%;
    position: relative;
}

div.ttypography .MathJax {
    color: black !important;
}
@media print {
    div.print-content article.node .node-blog .clearfix div.item-body p a { display: none; }

    .compact-problemset div.ttypography {
        margin: 0 !important;
    }

    .compact-problemset .problem-statement p {
        margin-bottom: 0.75em !important;
        page-break-inside: avoid;
    }
    .compact-problemset .problem-frames {
        column-count: 2;
    }

    .compact-problemset .problem-statement .input,
    .compact-problemset .problem-statement .output {
        page-break-inside: avoid;
    }

    .compact-problemset .problem-statement .output {
        page-break-inside: avoid;
    }

    .compact-problemset .problem-statement {
        margin: 0.25em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.45em;
        font-size: 1.4rem;
    }

    .compact-problemset #header {
        display: none;
    }

    .compact-problemset .problem-statement .time-limit,
    .compact-problemset .problem-statement .memory-limit {
        display: inline;
    }

    .compact-problemset .problem-statement .time-limit::after {
        content: ", ";
    }

    .compact-problemset .problem-statement .property-title {
        display: none;
    }

    .compact-problemset .problem-statement .input-file,
    .compact-problemset .problem-statement .output-file {
        display: none;
    }

    .compact-problemset .problem-statement .sample-tests .section-title,
    .compact-problemset .problem-statement .note .section-title {
        display: none;
    }

    .compact-problemset .input-output-copier {
        display: none;
    }
}

.problem-statement {
    margin: 0.5em;
    /*font-family: verdana,arial,sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 1.4rem;
}

.problem-statement .epigraph {
/*    margin-left: 67%;*/
/*    width: 33%;*/
}

.problem-statement .epigraph-text {
    margin-left: 67%;
    width: 33%;
}

.problem-statement .epigraph-source {
    border-top: 1px solid #888;
    text-align: right;
}


.problem-statement .lstlisting {
    padding: 0.5em;
}

.problem-statement .tex-tabular {
    margin: 1em 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: initial !important;
}

.problem-statement .tex-tabular * {
    border: initial !important;
}

.problem-statement .tex-tabular tr:hover * {
    background: initial;
}

.problem-statement .tex-tabular .tex-tabular-border-left {
    border-left: 1px #ccc solid !important;
}

.problem-statement .tex-tabular .tex-tabular-border-right {
    border-right: 1px #ccc solid !important;
}

.problem-statement .tex-tabular .tex-tabular-border-top {
    border-top: 1px #ccc solid !important;
}

.problem-statement .tex-tabular .tex-tabular-border-bottom {
    border-bottom: 1px #ccc solid !important;
}

.problem-statement .tex-tabular .tex-tabular-text-align-left {
    text-align: left;
}

.problem-statement .tex-tabular .tex-tabular-text-align-center {
    text-align: center;
}

.problem-statement .tex-tabular .tex-tabular-text-align-right {
    text-align: right;
}

.problem-statement .tex-tabular td {
    padding: 0.4em;
    vertical-align: middle;
}

.problem-statement p {
    margin: 0 0 1em 0 !important;
}

.problem-statement .header {
    margin-bottom: 1em;
    text-align: center;
}

.problem-statement .header .title {
    font-size: 150%;
    margin-bottom: 0.5em;
}

.problem-statement .header .title {
    font-size: 150%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.problem-statement ul {
    list-style: disc outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement ol {
    list-style: decimal outside;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.problem-statement li {
    line-height: 1.5em;
    margin-left: 3em;
}

.problem-statement .property-title {
    display: inline;
    padding-right: 4px;
}

.problem-statement .property-title:after {
    content: ":";
}

.problem-statement .time-limit, .problem-statement .memory-limit, .problem-statement .input-file, .problem-statement .output-file {
    margin: 0 auto;
}

.problem-statement .legend {
    margin-bottom: 1em;
}

.problem-statement .section-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
    font-size: 115%;
    font-weight: bold;
}

.problem-statement .input-specification,
    .problem-statement .output-specification,
    .problem-statement .sample-tests,
    .problem-statement .author,
    .problem-statement .resource,
    .problem-statement .date {
    /*margin-bottom: 1em;*/
}

.problem-statement .output-specification {
    margin-bottom: 1em;
}

.problem-statement .sample-tests .sample-test {
}

.problem-statement .sample-tests .input, .problem-statement .sample-tests .output {
    border: 1px solid #888;
}

.problem-statement .sample-tests .output {
    margin-bottom: 1em;
    position: relative;
    top: -1px;
}

.problem-statement .sample-tests pre {
    line-height: 1.25em;
    padding: 0.25em;
    margin: 0;
    background-color: #efefef;
}

.problem-statement .sample-tests {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 0.9em;
}

.problem-statement .sample-tests .title {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family: arial,sans-serif;*/
    font-size: 1.3em;
    padding: 0.25em;
    border-bottom: 1px solid #888;
    text-transform: lowercase;
    font-weight: bold;
}

.problem-statement .test {
    margin-bottom: 3em;
}

.problem-statement .test-title {
    /*font-size: 150%;*/
    font-weight: bold;
}

.problem-statement .test-stem, .problem-statement .test-explanation-note {
    margin: 0.5em 0 0.5em 0;
}

.problem-statement input[type="submit"] {
    margin-top: 0.5em;
    margin-right: 1em;
    padding: 0 1em;
}

.problemindexholder {
    position: relative;
}

div .problem-statement-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 50;
    opacity: 0.2;
}

.load-answers-waiting-indicator {
    position: absolute;
    top: 49%;
    left: 49%;
}

.problem-statement input[type="radio"] {
    margin-right: 0.5em;
}

.problem-statement input[type="checkbox"] {
    margin-right: 0.5em;
}


.problem-statement input[type="text"] {
    width: 20em;
}

.problem-statement textarea {
    width: 20em;
    height: 7em;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.problem-statement .test-form {
    line-height: 1.75em;
}

.tex-formula {
    font-family: times new roman,sans-serif;
    vertical-align: middle;
    margin: 0;
    border:medium none;
    position: relative;
    bottom: 2px;
}

.tex-span {
    font-size: 125%;
    font-family: times new roman,sans-serif;
    white-space: nowrap;
}

.tex-font-size-tiny {
    font-size: 70%;
}

.tex-font-size-script {
    font-size: 75%;
}

.tex-font-size-footnotes {
    font-size: 85%;
}

.tex-font-size-small {
    font-size: 85%;
}

.tex-font-size-normal {
    font-size: 100%;
}

.tex-font-size-large-1 {
    font-size: 115%;
}

.tex-font-size-large-2 {
    font-size: 130%;
}

.tex-font-size-large-3 {
    font-size: 145%;
}

.tex-font-size-huge-1 {
    font-size: 175%;
}

.tex-font-size-huge-2 {
    font-size: 200%;
}

.tex-font-style-rm {
}

.tex-font-style-sf {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: arial,sans-serif;*/
}

.tex-font-style-tt {
    font-size: 110%;
    font-family: courier new,monospace;
}

.tex-font-style-md {
}

.tex-font-style-bf {
    font-weight: bold;
}

.tex-font-style-up {
}

.tex-font-style-it {
    font-style: italic;
}

.tex-font-style-sl {
    font-style: italic;
}

.tex-font-style-sc {
    text-transform: uppercase;
}

.tex-font-style-striked {
    text-decoration: line-through;
}

.tex-font-style-underline {
    text-decoration: underline;
}

.tex-graphics {
    display: block;
}

.tex-font-style-part {
    font-size: 187.5%;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.tex-font-style-chapter {
    font-size: 162.5%;
    font-weight: bold;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.tex-font-style-section {
    font-size: 137.5%;
    font-weight: bold;
}

.tex-font-style-subsection {
    font-size: 125%;
    font-weight: bold;
}

.tex-font-style-subsubsection {
    font-size: 112.5%;
    font-weight: bold;
}

.tex-font-style-paragraph {
    font-size: 100%;
    font-weight: bold;
}

.tex-font-style-subparagraph {
    font-size: 100%;
    font-style: italic;
}

.problem-statement .tex-tabular .tex-graphics {
    max-width: 100%;
}

.problem-statement .tex-tabular td > p {
    margin-bottom: 0 !important;
}

.problem-statement .test-example-line-even {
    background-color: #E0E0E0;
}

.statement-footnote {
    font-size: 85%;
    position: relative;
}

.statement-footnote::before {
    content: "";
    position: absolute;
    top: -2px;
    width: 25%;
    border-top: 1px solid #888;
}

.statement-footnote p {
    margin-bottom: 0.25em !important;
}

.statement-footnote p:last-child {
    margin-bottom: 1em;
}

.problem-statement .header .input-standard,
.problem-statement .header .output-standard {
    display: none;
}

.test-form-item textarea {
    width: 100%;
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    height: 20rem;
    font-size: 1.3rem;
}
.table-form {
    margin: 1em auto;
    font-size: 1.1em;
}

.table-form tr {
    height: 2em;
}

.table-form tr td {
    height: 2em;
}

.table-form td td {
    padding-bottom: 0;
    margin-bottom: 0;
}

.table-form .field-name {
    text-align: right;
    padding: 0.5em 2em 0.5em 0.5em;
    width: 7.5em;
}

.table-form input {
    padding: 0.1em;
}

.table-form .submit {
    padding: 0 1em;
    margin: 1em 1em 0 1em;
    height: 2em;
}

.table-form .submit:not(:disabled) {
    color: black;
}

.table-form tr.subscription-row {
    height: 1.2em;
    line-height: 1.2em;
    font-size: 0.7em;
}

.table-form tr.subscription-row td {
    height: 1.2em;
    line-height: 1.2em;
}

.table-form textarea.bottom-space-small {
    margin-bottom: 5px;
}
.second-level-menu {
    position: absolute;
    left: 7px;
    top: -12px;
}

.second-level-menu-list {
    position: relative;
    height: 29px;
    overflow: hidden;
    display: inline-block;
}

.second-level-menu-list li {
    /*font-family: 'Cuprum', sans-serif !important;*/
    /*font-family: 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'PT Sans Narrow', sans-serif;
    float: left;
    list-style: none;
}

.second-level-menu-list li.backLava  {
    background: url( "../images/menu/lava-right.png" ) no-repeat top right;
    width: 9px;
    height: 20px;
    z-index: 8;
    position: absolute;
}

.second-level-menu-list li.backLava .leftLava {
    background: url( "../images/menu/lava-left.png" ) no-repeat top left;
    height: 20px;
    margin-right: 9px;
}

.second-level-menu-list li a {
    /*font-family: 'Cuprum', sans-serif !important;*/
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    outline: none;
    text-align: center;
    line-height: 20px;
    height: 20px;
    top: 1px;
    z-index: 10;
    letter-spacing: 0;
    float: left;
    display: block;
    margin: auto 8px;
}
